body {
    background-image: url("zdjecia/tlo-glowne.png");
  background-size: cover;
  background-position: top-center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.center {
  margin-left: auto;
  margin-right: auto;
  margin-top: 8%;
}
.logowanie {
  background-image: url("zdjecia/tlo-logowanie.png");
  width: 350px;
  height: 450px;
  border: 2px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8%;
}
.blur{
  position: fixed;
  top: auto;
  left:auto;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(10px)
}
